<footer>
    <div id="footer-inner">
        <div id="footer-part1">
            <p> <i class="fa-solid fa-copyright"></i> Akshun Mishra . All Rights Reserved</p>
        </div>
    
        <div  id="footer-part2">
            <div>
                <a href="/">Home</a>
            </div>
            <% if(locals.user){ %>
                <div>
                    <a href="/users/profile/<%= locals.user._id %>">Profile</a>
                </div>
            <% } %>
            
        </div>
    </div>
</footer>